.TodoList {
  background-color: rgba(0, 0, 0, 0.5);
  background-color: #588d98;
  width: 500px;
  padding: 1rem;
  justify-items: center;
  color: white;
}

.TodoList ul {
  list-style: none;
  padding: 0;
}
